{% extends 'admin.header.html.twig' %}

{% block body %}


<div class="row">
<h2 class="page-header">Add Event</h2>
                <div class="col-sm-12 form-group">
                    {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
                    
                </div>
            </div>

   
        
{% endblock %}